/* globle - toàn cục, sử dụng cho tất cả các selector phía sau */
:root{
    --text-color: blue
}
/* Mục đích của đạt biến */
/* local - cục bộ sử dụng luôn trong 1 selector cụ thể*/
h1{
    --like-color: red;
    color: var(--like-color);
}
h3{
    color: var(--text-color);
}
h2{
    color: var(--text-color);
}