.box {
    --height: 200px;
    width: 100%;
    height: var(--height);
    background-color: rgb(13, 239, 122);
    /* Căn giữa theo chiều ngang (sử dụng cho tất cả thẻ con) */
    text-align: center;
    /* Chiều cao của dòng để bằng đúng chiều cao của thẻ chưa nó (sử dụng cho tất cả thẻ con)*/
    line-height: var(--height);
    /* text-align,line-height là thuộc tính kế thừa kiểm tra trên W3 */
}
.box h3 {
    /* Căn giữa theo chiều ngang (sử dụng cho việc căn từng thẻ) */
    text-align: center;
    /* Chiều cao của dòng để bằng đúng chiều cao của thẻ chưa nó (sử dụng cho việc căn từng thẻ)*/
    line-height: var(--height);
}
.box1 {
    width: 100%;
    height: 100px;
    background-color: rgb(226, 25, 179);
    display: flex;
    /* Căn giữa kế thừa cho các thẻ con */
    /* Căn giữa theo trục dọc của thẻ cha */
    align-items: center;
    /* Căn giữa theo trục ngang của thẻ cha */
    justify-content: space-between;
    /* center: căn tất cả vào giữa, 
    space-around: có khoảng cách giữa các thẻ, 
    space-between: đưa đầu và cuối sát lề */
}
/* Căn giữa sử dụng cho từng thẻ con
.box1 h3{
    margin: auto; 
}*/
.box2 {
    width: 100%;
    height: 100px;
    background-color: rgb(0, 0, 0);
    color: #fff;
    position: relative;
}
.box2 h3 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-left: 3px solid white;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.box3 {
    width: 100%;
    height: 100px;
    background-color: rgb(70, 10, 236);
    display: flex;
}
.box3 h3 {
    margin: auto;
    color: #fff;
    position: relative;
}
.box3 h3::before {
    position: absolute;
    margin: 0;
    content: "";
    border-left: 3px solid white;
    height: 50px;
    top: 50%;
    transform: translateY(-50%);
    left: -10px;
}
